@model List<Ong>

@{
    ViewData["Title"] = "Lista de Ongs";
}

<h1>Ongs</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>}

<a asp-action="cadastrar">Cadastrar</a>
<table class="table">
    <tr>
        <th>Código</th>
        <th>Ong</th>
        <th>Endereço</th>
        <th>Área de atuação</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Endereco</td>
            <td>@item.AreaAtuacao</td>

            <td>
                <a asp-route-id="@item.Id" asp-action="editar" class="btn btn-sm btn-primary">Editar</a>
                <button onclick="idOng.value = @item.Id" type="button" class="btn btn-sm btn-danger"
                        data-toggle="modal" data-target="#exampleModal"> Remover
                </button>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente remover a Ong?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="idOng" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>